@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------
   Reckless Font Face
   ------------------------- */
@font-face {
  font-family: 'Reckless';
  src: url('./fonts/Reckless-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* -------------------------
   Untitled Sans Font Faces
   ------------------------- */

/* Light */
@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitled-sans-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitled-sans-light-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitled-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitled-sans-regular-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitled-sans-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitled-sans-medium-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitled-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitled-sans-bold-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitled-sans-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitled-sans-black-italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

.title-font {
  font-family: 'Reckless', sans-serif;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0%;
  color: #9a0180;

  @media (min-width: 768px) {
    font-size: 50px;
    line-height: 55px;
  }

  @media (min-width: 1536px) {
    font-size: 66px;
    line-height: 72px;
  }
}

.subtitle-font {
  font-family: 'Untitled Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #6a0058;

  @media (min-width: 1280px) {
    font-size: 27pxpx;
    line-height: 32px;
  }

  @media (min-width: 1536px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.body-font {
  font-family: 'Untitled Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: 1280px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.list-font {
  font-family: 'Untitled Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #6a0058;

  @media (min-width: 1280px) {
    font-size: 22px;
    line-height: 27px;
  }
}

.button-font {
  font-family: 'Untitled Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}
